<div class="container pt-0">
    <div class="row">
        <div class="col-lg-8">
            <img [src]="urlImagen" alt="img_newshore" width="450px" height="300px" right="6000px">
        </div>
    </div>
    <div class="col-lg-20">
            <input type="text" [(ngModel)]="origin"  class="form-control form-control-lg size" 
                   placeholder="Ingrese Origen" required #nameorigin="ngModel" style="text-transform:uppercase;"  maxlength=3>

            <div class="alert alert-danger mt-1" [hidden]="nameorigin.valid || nameorigin.pristine">
                Este campo es obligatorio
            </div>

            <input type="text" [(ngModel)]="destination" class="form-control form-control-lg size" placeholder="Ingrese Destino" #nameodestination="ngModel" required style="text-transform:uppercase;" maxlength=3>
            
            <div class="alert alert-danger mt-1" [hidden]="nameodestination.valid || nameodestination.pristine">
                Este campo es obligatorio
            </div>

            <button (click)="obtenerRuta()" class="btn btn-primary btn-lg btn-block mt-4 size"
                    [disabled]="!nameodestination.valid || !nameorigin.valid ">Obtener Ruta
            </button>
            <!-- Para la carga mientras se hace la petición servicio -->
            <div *ngIf="loading" class="text-center mt-3">
                <div class="spinner-grow text-primary" role="status"></div>
                <div class="spinner-grow text-primary" role="status"></div>
                <div class="spinner-grow text-primary" role="status"></div>
            </div>

            <div *ngIf="query" class="card mt-3">
                <div class="card-body">
                    <p><b>Viaje:</b>{{rsDestination}} - {{rsOrigin}}</p>
                    <p><b>Costo: $</b>{{ rsPrice | number: '1.2-2' }}</p>
                    <h5>Vuelos:</h5>
                    <table class="table table-striped table-hover table-xl">
                        <thead class="table-primary">
                          <tr align="center">
                            <th scope="col">Vuelo #</th>
                            <th scope="col">Partida</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Código de Vuelo</th>
                            <th scope="col">Costo</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let fly of rsFlight; let i = index">
                          <tr align="center">
                            <th>{{ i + 1}}</th>
                            <th>{{ fly.origin }}</th>
                            <td>{{ fly.destination }}</td>
                            <td>{{ fly.transport.carrier }} - {{ fly.transport.number }}</td>
                            <td>${{ fly.price | number: '1.2-2' }}</td>
                          </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
    </div>
</div>
<!-- {{ nameorigin }} -->

<hr>
<!-- {{ nameorigin.valid }}
{{ nameodestination.valid }} -->